# Prédiction de la Survie des Passagers du Titanic

## Introduction

### Ce notebook utilise PyCaret pour entraîner et comparer plusieurs modèles de classification afin de prédire la survie des passagers du Titanic.

## Importation des bibliothèques

In [12]:
import pandas as pd
from pycaret.classification import *

## Chargement des données prétraitées

In [13]:
file_path = 'data/titanic.csv'  
data = pd.read_csv(file_path)

# Prétraitement des données
data['Age'].fillna(data['Age'].median(), inplace=True)
data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
data = pd.get_dummies(data, columns=['Sex', 'Embarked'], drop_first=True)

## Configuration de l'environnement PyCaret

In [14]:
clf1 = setup(data, target='Survived', session_id=123)

## Comparaison des modèles

In [16]:
best_model = compare_models()

## Conclusion
 Le modèle le plus performant pour prédire la survie des passagers du Titanic est Gradient Boosting Classifier.

In [ ]:
file_path = 'titanic_test.csv'  
data = pd.read_csv(file_path)

# Prétraitement des données
data['Age'].fillna(data['Age'].median(), inplace=True)
data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
data = pd.get_dummies(data, columns=['Sex', 'Embarked'], drop_first=True)